name: Generate Website
on:
  workflow_call:
    inputs:
      commit_resources:
        description: 'commit the resources after generating them. Requires the access_token to be passed'
        required: false
        default: false
        type: boolean
      linkcheck_fail_on_error:
        description: 'a boolean flag that determines if bad links found by the link checker fail fast and stop a complete build'
        required: false
        default: true
        type: boolean
  workflow_dispatch:
    branches:
    - main
    - develop
    - "release-*"
    inputs:
      commit_resources:
        description: 'commit the resources after generating them. Requires a PAT defined as secrets.COMMIT_TOKEN'
        required: true
        default: false
        type: boolean
      linkcheck_fail_on_error:
        description: 'a boolean flag that determines if bad links found by the link checker fail fast and stop a complete build'
        required: false
        default: true
        type: boolean
      linkcheck_create_issue:
        description: 'create new GitHub issue if broken links found'
        required: false
        default: false
        type: boolean
jobs:
  build-and-push-website:
    name: Build and Push Website
    runs-on: ubuntu-20.04
    env:
      BUILD_PATH: ./build
    permissions:
      contents: write
    steps:
    # use this for builds triggered from the UI and from workflows on protected branches
    - id: checkout_latest_workflow
      name: Checkout Latest
      if: (github.event_name == 'workflow_dispatch' && github.event.inputs.commit_resources == 'true') || (github.event_name == 'push' && inputs.commit_resources == true)
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      with:
        token: ${{ secrets.GITHUB_TOKEN  }}
        submodules: recursive
    # use this for overything else (i.e., pull requests) where publication is not needed
    - name: Checkout Latest
      if: steps.checkout_latest_workflow.conclusion == 'skipped'
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      with:
        submodules: recursive
    - name: Setup Swap Space
      # Since Hugo is requiring more memory
      uses: pierotofy/set-swap-space@49819abfb41bd9b44fb781159c033dba90353a7c
      with:
        swap-size-gb: 10
    # Install Hugo
    - name: Read .env
      id: hugo-version
      run: |
        . .github/workflows/config/.env
        echo "HUGO_VERSION=${HUGO_VERSION}" >> "${GITHUB_OUTPUT}"
    - name: Setup Hugo
      uses: peaceiris/actions-hugo@v2
      with:
        hugo-version: '${{ steps.hugo-version.outputs.HUGO_VERSION }}'
        extended: true
    - name: Set up NodeJS
      uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d
      with:
        node-version-file: '.github/workflows/config/.nvmrc'
        cache: 'npm'
        cache-dependency-path: package-lock.json
    - name: Setup Dependencies
      run: |
        # NodeJS
        # If you are a developer and need to modify the workflow, be sure to review
        # the package.json and package-lock.json to ensure the following deps are
        # at least installed (they will be updated by dependabot):
        # - ajv-cli
        # - ajv-formats
        # - markdown-link-check
        # - yaml-convert
        npm install --loglevel verbose
        echo "$PWD/node_modules/.bin/" >> $GITHUB_PATH
        # Dart-Sass
        sudo snap install dart-sass
    # cache hugo modules
    - uses: actions/cache@v4
      with:
        path: /tmp/hugo_cache
        key: ${{ runner.os }}-hugomod-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-hugomod-        
    - name: Run Hugo
      run: |
        hugo mod vendor
        hugo -e production --logLevel debug --minify
      working-directory: ${{ github.workspace }}/website
    - name: Zip Artifacts for Upload
      run: |
        zip ${{ runner.temp }}/metaschema-website.zip -r public/
      working-directory: ${{ github.workspace }}/website
    - name: Upload generated site
      uses: actions/upload-artifact@v4
      with:
        name: website
        path: |
          ${{ runner.temp }}/metaschema-website.zip
        retention-days: 5
    - id: linkchecker
      name: Link Checker
      uses: lycheeverse/lychee-action@ec3ed119d4f44ad2673a7232460dc7dff59d2421
      with:
        args: --exclude-file .github/workflows/config/.lycheeignore --verbose --no-progress --accept 200,206,429 './website/public/**/*.html' --remap "https://pages.nist.gov/vulntology/ file://${GITHUB_WORKSPACE}/website/public/" --exclude-mail
        format: markdown
        output: html-link-report.md
        debug: true
        fail: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      continue-on-error: true
    - name: Upload link check report
      uses: actions/upload-artifact@v4
      with:
        name: html-link-report
        path: html-link-report.md
        retention-days: 5
    - name: Create issue if bad links detected
      if: ${{ !cancelled() && env.lychee_exit_code != 0 && inputs.linkcheck_create_issue }}
      uses: peter-evans/create-issue-from-file@433e51abf769039ee20ba1293a088ca19d573b7f
      with:
        title: Scheduled Check of Website Content Found Bad Hyperlinks
        content-filepath: ./lychee/out.md
        labels: |
          bug
          documentation
    - name: Fail on link check error
      if: ${{ !cancelled() && env.lychee_exit_code != 0 && (github.event.inputs.linkcheck_fail_on_error == 'true' || inputs.linkcheck_fail_on_error == true) }}
      uses: actions/github-script@d7906e4ad0b1822421a7e6a35d5ca353c962f410
      with:
        script: |
          core.setFailed('Link checker detected broken or invalid links, read attached report.')
    - name: Deploy Website
      uses: peaceiris/actions-gh-pages@373f7f263a76c20808c831209c920827a82a2847
      if: github.ref_name == 'main' && ((github.event_name == 'push' && inputs.commit_resources == true) || (github.event_name == 'workflow_dispatch' && github.event.inputs.commit_resources == 'true'))
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        enable_jekyll: false
        publish_dir: ./website/public
        publish_branch: nist-pages
        commit_user_name: GitHub Actions Bot
        commit_user_email: metaschema@nist.gov
        commit_author: GitHub Actions Bot <metaschema@nist.gov>
        commit_message: Deploying website [ci deploy skip]
